# Ignore folders
.cloud
.google.token
.storage
tts

# Ignore Z-Wave data
OZW_Log.txt
options.xml
pyozw.sqlite
zwcfg*.xml
zwscene.xml

# Ignore other Home Assistant files
home-assistant.log
home-assistant_v2.db

# Ignore Logitech Harmony files
harmony_*.conf

# Ignore secrets
google_calendars.yaml
secrets.yaml

# Ignore compiled or cached Python files
__pycache__
*.pyc
